.home {
  display: flex;
  gap: 16px;
  height: 100%;
  font-size: 12px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .home-block {
    margin-bottom: 0;
  }

  .all-btn {
    color: #939ea9;
    text-align: center;
    font-family: 'PingFang SC';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */

    cursor: pointer;
    &:hover {
      color: var(--el-color-primary);
    }
  }

  &-left {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &-right {
    flex: 1;
    //display: flex;
    //flex-direction: column;
    //gap: 16px;
    //width: 100%;
  }

  .visited {
    list-style: none;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    li {
      display: flex;
      padding: 8px 16px;
      align-items: center;
      gap: 8px;
      // flex: 1 0 0;
      border-radius: 4px;
      border: 1px solid #e4ebf1;
      background: #fff;

      max-width: 180px;
      &:hover {
        border: 1px solid var(--el-color-primary-light-3);
        color: var(--el-color-primary);
        cursor: pointer;
      }
    }
  }

  .visited-empty {
    text-align: center;
    color: #939ea9;
  }

  .add-btn {
    color: var(--el-color-primary);
    text-align: center;
    font-family: 'PingFang SC';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  .resourceOverview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    li {
      height: 80px;
      flex-shrink: 0;
      border-radius: 6px;
      background: #f5f7fa;
      padding: 16px;
      display: flex;
      //&:hover {
      //  color: var(--el-color-primary);
      //  cursor: pointer;
      //}
      .avatar {
        display: flex;
        width: 48px;
        height: 48px;
        padding: 14px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 999px;
        border: 2px solid #fff;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          #fff 100%
        );
        margin-right: 16px;
      }

      .count {
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 20px */
        margin-top: 10px;
      }
    }
  }

  .resourceStatus {
    display: flex;
    gap: 20px;
    min-height: 160px;

    &-left {
      flex: 1;
      // padding: 10px 20px;
      padding-right: 0;
      display: flex;
      align-items: center;
      gap: 34px;
      .pie {
        height: 120px;
        width: 120px;
        margin-left: 20px;
      }
      .counts {
        flex: 1;

        display: flex;
        justify-content: space-between;
        gap: 8px;
        padding-right: 40px;
        flex-wrap: wrap;
        &-item {
          padding: 8px 12px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          &-title {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            gap: 4px;
          }

          &-count {
            color: #1d2b3a;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%; /* 20px */
          }
        }
      }
    }

    &-right {
      width: 55%;
      display: flex;
      align-items: center;
      gap: 12px;
      li {
        flex: 1;
        min-height: 150px;
        border-radius: 6px;
        background: #f5f7fa;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
          display: flex;
          gap: 4px;
          align-items: center;
        }
        .progress {
          padding: 25px 0;
          background-color: transparent;

          .el-progress {
            width: 100%;
          }
        }
        .volume {
          display: flex;
          //flex-direction: column;
          gap: 8px;
          flex-wrap: wrap;
        }
        .volume-item {
          flex: 1;
          display: flex;
          align-items: center;
          gap: 6px;
          font-size: 12px;
          min-width: 80px;

          .title {
            color: #697886;
            font-family: 'PingFang SC';
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; /* 12px */
            //width:80px ;
          }
          .count {
            color: #1d2b3a;
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
          }
        }
      }
    }
  }

  #alarm {
  }

  .alarm {
    display: flex;
    gap: 32px;
    &-left {
      display: flex;
      flex-direction: column;
      gap: 12px;
      &-item {
        width: 202px;
        height: 120px;
        border-radius: 6px;
        padding: 16px;
        position: relative;
        .title {
          color: #324558;
          font-family: 'PingFang SC';
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px; /* 150% */
          margin-bottom: 10px;
        }
        .count {
          font-family: Roboto;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%; /* 20px */
        }
        .icon-bg {
          position: absolute;
          right: 10px;
          bottom: -10px;
          width: 56px;
          height: 56px;
        }
      }
    }

    &-right {
      flex: 1;
      position: relative;
      .title {
        position: absolute;
        top: -40px;
        color: #1d2b3a;
        font-family: 'PingFang SC';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
      }
    }
  }

  .pressure {
    display: flex;
    height: 150px;
    li {
      flex: 1;
    }
  }

  .user {
    border: 1px solid #fff;
    padding: 0;
  }

  .myApproval {
    display: flex;
    li {
      display: flex;
      padding: 8px 0px;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      flex: 1 0 0;
      &:hover {
        color: var(--el-color-primary);
        cursor: pointer;
      }
      .count {
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 20px */
        position: relative;
        .isNew {
          display: inline-flex;
          min-width: 20px;
          padding: 0px 6px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-radius: 6px 6px 6px 2px;
          background: var(--light-color-semantic-danger-default, #dc2626);
          color: #fff;
          text-align: center;
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px; /* 166.667% */
          position: absolute;
          right: -40px;
          top: -8px;
        }
      }
    }
  }

  .myApply {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(2, 1fr);

    li {
      display: flex;
      // width: 202px;
      padding: 16px 16px;
      align-items: center;
      gap: 8px;
      border-radius: 4px;
      background: #f5f7fa;
      justify-content: space-between;
      &:hover {
        color: var(--el-color-primary);
        cursor: pointer;
      }
      .count {
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 142.857% */
      }
    }
  }

  .node-all {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(2, 1fr);

    li {
      display: flex;
      // width: 202px;
      padding: 16px 16px;
      align-items: center;
      gap: 8px;
      border-radius: 4px;
      background: #f5f7fa;
      justify-content: space-between;
      &:hover {
        color: var(--el-color-primary);
        cursor: pointer;
      }
      .count {
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 142.857% */
      }
    }
  }

  .card-resource {
    display: flex;
//padding: 0 20px;
    min-height: 120px;
    .left {
      flex: 1;
      min-width: 402px;

      .pie {
        width: 100%;
        height: 100%;
      }
    }

    .cardDetail {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      //grid-template-columns: repeat(3, 1fr);
      gap: 12px;
      align-content: center;
    }
    .cardDetail-item {
      flex: 1;
      height: 80px;
      flex-shrink: 0;
      border-radius: 6px;
      background: #f5f7fa;
      padding: 16px;
      display: flex;
      &:hover {
        //color: var(--el-color-primary);
        //cursor: pointer;
      }
      .avatar {
        display: flex;
        width: 48px;
        height: 48px;
        padding: 14px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 999px;
        border: 2px solid #fff;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          #fff 100%
        );
        margin-right: 16px;
      }

      .count {
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%; /* 20px */
        margin-top: 10px;
      }
    }
  }

  .exceed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    li {
      height: 80px;
      border-radius: 4px;
      background: #f5f7fa;
      padding: 16px;
      .count {
        font-size: 20px;
        font-weight: bold;
        margin-top: 5px;
        span {
          font-size: 12px;
        }
      }
    }
  }
}
