@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #2563eb,
      'color': #fff,
    ),
  )
);

@use 'element-plus/theme-chalk/src/index.scss' as *;
